@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bowlby+One+SC&family=Cossette+Titre:wght@400;700&family=Doto:wght@100..900&family=Gasoek+One&family=Lavishly+Yours&family=Lexend:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&family=Shadows+Into+Light+Two&family=Sixtyfour&family=Sora:wght@100..800&family=Stack+Sans+Headline:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", sans-serif;
    justify-items: center;
    align-content: center;
    min-height: 100vh;
    --blue: #9193ff;
    background-color: #f0ffff;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

#something-main {
    height: 70vh;
    aspect-ratio: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: #f0ffff;

    anchor-name: --main;
    > div {
        width: 80%;
        margin: 2rem auto;
    }
}

#something-main:hover {
    border: 1px solid var(--blue);
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    
}

body:has(#something-main:hover) {
    background:radial-gradient( rgb(227, 248, 248), #e0fafa);
    > img {
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    }
}
img {
    height: 50px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#something-main-tech ,
#something-main-socials{
    /* text-align: center; */
    align-self: self-end;
}

#profile {
    height: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 400px;
    object-position: left;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);

    position: absolute;
    top: calc(anchor(bottom --main) - 20%);
    left: calc(anchor(right --main) - 10%);
}