.hero-section {
    width:100%;
    height:95vh;
    
    background: #000;
    overflow:hidden;
    
    position:relative;
}

#hero-heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(2rem, 9vw, 5rem);
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
    z-index:10;

    top:5%;
    left:50%;

    transform:translateX(-50%);

    color:white;
        
    position: absolute;

}

.about-myself-container{
    width:100%;
    height:100%;
    
    display:flex;
    justify-content:center;
    align-items:flex-start;
    
}

.image-container{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: contain;
}

.profile-card::before{
    content:'';

    position:absolute;

    width:600px;
    height:600px;

    background:radial-gradient(
        circle,
        rgba(255,255,255,0.08) 0%,
        rgba(59,130,246,0.12) 30%,
        rgba(0,0,0,0) 70%
    );

    filter:blur(80px);

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    z-index:0;
}




#hero-tagline{
    position:absolute;
    font-family: 'lexend', sans-serif;
    z-index:10; 
    bottom:14%;
    left:50%;  
    transform:translateX(-50%);    
    color:#999;
    letter-spacing:3px; 
    opacity:0.8;
    text-transform:uppercase;
    white-space: nowrap;
    font-size: clamp(0.6rem, 1vw, 1.5rem);
}


.image-container{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    margin: auto;
}

/* BOTH GLOWS */
.glow{
    position: absolute;

    width: 500px;
    height: 500px;

    border-radius: 50%;

    background: radial-gradient(
        circle,
        rgba(0, 70, 255, 0.45) 0%,
        rgba(0, 70, 255, 0.18) 35%,
        rgba(0, 70, 255, 0.08) 50%,
        transparent 72%
    );

    filter: blur(50px);

    animation: breathe 3s ease-in-out infinite;

    z-index: 0;
}

/* FIRST GLOW */
.glow-1{
    animation-delay: 0s;
}

/* SECOND GLOW */
.glow-2{
    animation-delay: 3s;

    opacity: 0.6;

    transform: scale(1.08);
}

/* BREATHING EFFECT */
@keyframes breathe{

    0%{
        transform: scale(1);
        opacity: 0.55;
    }

    50%{
        transform: scale(1.14);
        opacity: 1;
    }

    100%{
        transform: scale(1);
        opacity: 0.55;
    }
}


.hero-image{
    border-bottom-left-radius: 30%;
    height:85vh;

    object-fit:contain;

    filter:
        brightness(0.9)
        contrast(1.1)
        drop-shadow(0 0 60px rgba(59,130,246,0.2));

    z-index:1;

    mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1) 70%,
        rgba(0,0,0,0)
    );

    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1) 70%,
        rgba(0,0,0,0)
    );
    display: block;
    z-index: 2;
    position:relative;
}

.profile-card{
    position:relative;

    width:100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:flex-end;
}



/* hover */

@media (hover: hover) {


}


@media screen and (min-width:768px) {
    #hero-heading{
        font-size: clamp(5rem, 12vw, 12rem);
        white-space:nowrap;
    }

    #hero-tagline {
        font-size: clamp(1rem, 1.2vw, 2rem);

    }
    
    

}